In [1]:
from Game import *
import pandas as pd

%load_ext autoreload
%autoreload 2

## Start em with only one tight end

In [2]:
week = Game('FanDuel-NFL-2023 ET-01 ET-01 ET-85186-players-list.csv',
            'NFL',
            '2022-17 Fantasy Pros Projections 23-01-01.xlsx',
            'FantasyPros NFL Historical.xlsx',
            2022, 17)

In [3]:
startem = pd.read_excel('Sports Illustrated.xlsx', sheet_name='Week 17')
startem.shape

(66, 2)

In [4]:
# drop all players not in SI start em
DROP = (set(week.data['Nickname']) - set(startem['Name']))

week.generateRosters('reimagined', drop_players_initial=DROP, min_pts=0, drop_injuries=['D', 'IA', 'O', 'IR'], max_te=1)

Preprocessing completed in 0:00:00.003042.

Beginning strategy: reimagined
--------------------------------------------------

Initial iteration completed in 0:00:22.159820.
Optimal solutions: 511 / 511

Dropped Justin Jefferson. Using Roster1 as basis...
Iteration 1 completed in 0:00:20.952502.
Optimal solutions: 511 / 511

Dropped Justin Fields. Using Roster2 as basis...
Iteration 2 completed in 0:00:21.881262.
Optimal solutions: 511 / 511

Dropped Rhamondre Stevenson. Using Roster3 as basis...
Iteration 3 completed in 0:00:22.889847.
Optimal solutions: 511 / 511

Dropped Tyler Allgeier. Using Roster4 as basis...
Iteration 4 completed in 0:00:23.039114.
Optimal solutions: 511 / 511

Dropped Zonovan Knight. Using Roster5 as basis...
Iteration 5 completed in 0:00:23.111309.
Optimal solutions: 511 / 511

Dropped Allen Lazard. Using Roster6 as basis...
Iteration 6 completed in 0:00:22.380427.
Optimal solutions: 511 / 511

Dropped DJ Chark Jr.. Using Roster7 as basis...
Iteration 7 completed in 0:00:23.133294.
Optimal solutions: 511 / 511

Dropped Evan Engram. Using Roster8 as basis...
Iteration 8 completed in 0:00:24.065262.
Optimal solutions: 511 / 511

Dropped Kansas City Chiefs. Using Roster9 as basis...
Iteration 9 completed in 0:00:23.377838.
Optimal solutions: 511 / 511
--------------------------------------------------

Strategy completed in 0:03:46.991680.
Optimal results: 5111 / 5111

Summarizing rosters...
Rosters summarized in 0:00:09.817396.

Total time: 0:03:56.812118.

(5111, 5111)

In [5]:
# verify dropped players
week.tracking['preprocessing_drops'].sort_values('Projected', ascending=False).head(10)

,Nickname,Position,Salary,Injury Indicator,QB,RB,WR,TE,DST,FLEX,Projected,MR_Period,MR_Season,MR_WeekNum,N_Games,Hist_Avg,Hist_Std,Proj_Percent
40,Aaron Rodgers,QB,7100,NaN,1,0,0,0,0,0,18.3,2022-15,2022.0,15.0,16.0,15.17,3.86,78.7
36,Tom Brady,QB,7200,NaN,1,0,0,0,0,0,17.6,2022-15,2022.0,15.0,16.0,17.16,5.26,88.0
42,Geno Smith,QB,7100,NaN,1,0,0,0,0,0,17.5,2022-15,2022.0,15.0,16.0,18.97,5.89,88.6
48,Mike White,QB,7000,NaN,1,0,0,0,0,0,16.3,2022-14,2022.0,14.0,8.0,13.38,9.76,25.2
70,Deshaun Watson,QB,6700,NaN,1,0,0,0,0,0,16.3,2022-15,2022.0,15.0,16.0,22.31,7.50,71.3
55,Russell Wilson,QB,6900,NaN,1,0,0,0,0,0,15.8,2022-14,2022.0,14.0,16.0,15.69,7.25,45.1
115,Teddy Bridgewater,QB,6100,NaN,1,0,0,0,0,0,15.5,2022-06,2022.0,6.0,16.0,12.51,6.93,2.5
85,Mac Jones,QB,6400,NaN,1,0,0,0,0,0,15.2,2022-15,2022.0,15.0,16.0,11.81,6.55,14.0
57,Sam Darnold,QB,6800,NaN,1,0,0,0,0,0,15.0,2022-15,2022.0,15.0,16.0,14.08,8.02,4.7
72,Tyler Huntley,QB,6600,NaN,1,0,0,0,0,0,14.5,2022-15,2022.0,15.0,12.0,9.90,9.90,17.8

In [42]:
top = week.selectRosters(.75)
week._selection

'Roster0'

In [7]:
# players with appearances
x = week.data[['Nickname', 'Position', 'Salary', 'Projected', 'Top Appearances']]
x[x['Top Appearances'] > 0].sort_values('Top Appearances', ascending=False)

                 Nickname Position  Salary  Projected  Top Appearances
2        Justin Jefferson       WR    9200       20.8             1281
46    Rhamondre Stevenson       RB    7000       14.5             1005
109          Allen Lazard       WR    6200       10.4              972
193           Evan Engram       TE    5800       10.8              938
66         Tyler Allgeier       RB    6700       13.0              919
171          DJ Chark Jr.       WR    6000        9.7              830
52     Brian Robinson Jr.       RB    6900       13.3              798
32             Jared Goff       QB    7400       18.8              708
720    Kansas City Chiefs        D    4300        7.8              671
9           Justin Fields       QB    8400       22.3              547
62        Jerick McKinnon       RB    6800       12.2              522
88         Zonovan Knight       RB    6400       11.0              517
61    JuJu Smith-Schuster       WR    6800       11.5              509
746         New York Jets        D    4100        7.1              397
728  Tampa Bay Buccaneers        D    4200        7.2              196
236             Cole Kmet       TE    5300        7.9              195
44            Jerry Jeudy       WR    7000       11.9              148
240             Noah Fant       TE    5200        7.5              104
64           Drake London       WR    6700       10.7               88
21     Travis Etienne Jr.       RB    7700       14.7               58
293         Tyler Conklin       TE    4900        6.3               20
15           James Conner       RB    8000       15.2               18
197        Pat Freiermuth       TE    5700        8.5               18
710   Philadelphia Eagles        D    4400        7.6               17
106        Isaiah Hodgins       WR    6200        8.2               13
49            Brock Purdy       QB    7000       16.6               12
221        Hunter Renfrow       WR    5400        5.7                8
33           Daniel Jones       QB    7300       17.7                8
320          Hunter Henry       TE    4800        5.7                6
3         Patrick Mahomes       QB    9000       22.8                4
25           Kirk Cousins       QB    7600       18.3                2

In [8]:
# highest scoring rosters and frequency
y = top.copy()
y['Roster'] = y.index
y_g = y.groupby('Score', as_index=False).agg({'Roster':'first', 'Salary':'first', 'Projected':'first', 'Hist_Std':'first', 'K':min, 'Score':['first', 'count']})
y_g.sort_values(('Score', 'first'), ascending=False).head(10)

        Roster   Salary Projected Hist_Std    K Score
         first    first     first    first  min first count
63     Roster0  60000.0     120.3    22.43  0.0  7680    74
62     Roster3  59900.0     119.1    21.96  1.0  7473    41
61    Roster19  60000.0     118.9    20.79  2.0  7399    36
60   Roster528  59900.0     119.5    21.66  2.0  7385     2
59   Roster523  60000.0     119.1    22.59  2.0  7383    47
58     Roster4  60000.0     119.9    22.52  1.0  7285    46
57   Roster544  60000.0     119.1    22.13  2.0  7251    59
56   Roster559  60000.0     119.4    21.14  3.0  7238     1
55     Roster5  60000.0     119.7    21.73  1.0  7218    50
54  Roster1563  59900.0     119.7    22.90  2.0  7205     5

In [45]:
# week.data[week.data['Roster0']==1].iloc[:, :17]

In [49]:
week.data[week.data['Roster523']==1].iloc[:, :17]

,Nickname,Position,Salary,Injury Indicator,QB,RB,WR,TE,DST,FLEX,Projected,MR_Period,MR_Season,MR_WeekNum,N_Games,Hist_Avg,Hist_Std
2,Justin Jefferson,WR,9200,NaN,0,0,1,0,0,1,20.8,2022-15,2022.0,15.0,16.0,18.74,9.58
32,Jared Goff,QB,7400,NaN,1,0,0,0,0,0,18.8,2022-15,2022.0,15.0,16.0,16.96,7.87
46,Rhamondre Stevenson,RB,7000,Q,0,1,0,0,0,1,14.5,2022-15,2022.0,15.0,16.0,13.89,7.25
61,JuJu Smith-Schuster,WR,6800,NaN,0,0,1,0,0,1,11.5,2022-15,2022.0,15.0,16.0,8.82,6.62
62,Jerick McKinnon,RB,6800,NaN,0,1,0,0,0,1,12.2,2022-15,2022.0,15.0,16.0,8.86,8.97
66,Tyler Allgeier,RB,6700,NaN,0,1,0,0,0,1,13.0,2022-15,2022.0,15.0,13.0,8.32,5.93
171,DJ Chark Jr.,WR,6000,NaN,0,0,1,0,0,1,9.7,2022-15,2022.0,15.0,16.0,9.89,7.72
193,Evan Engram,TE,5800,NaN,0,0,0,1,0,1,10.8,2022-15,2022.0,15.0,16.0,7.51,8.12
720,Kansas City Chiefs,D,4300,NaN,0,0,0,0,1,0,7.8,2022-15,2022.0,15.0,16.0,6.44,4.35

## Save Game

In [25]:
# week.export_game()

## FanDuel Tournament Export File

In [22]:
play = y_g.sort_values(('Score', 'first'), ascending=False).head(18)

rosters = play[('Roster', 'first')].to_list()

play

        Roster   Salary Projected Hist_Std    K Score
         first    first     first    first  min first count
63     Roster0  60000.0     120.3    22.43  0.0  7680    74
62     Roster3  59900.0     119.1    21.96  1.0  7473    41
61    Roster19  60000.0     118.9    20.79  2.0  7399    36
60   Roster528  59900.0     119.5    21.66  2.0  7385     2
59   Roster523  60000.0     119.1    22.59  2.0  7383    47
58     Roster4  60000.0     119.9    22.52  1.0  7285    46
57   Roster544  60000.0     119.1    22.13  2.0  7251    59
56   Roster559  60000.0     119.4    21.14  3.0  7238     1
55     Roster5  60000.0     119.7    21.73  1.0  7218    50
54  Roster1563  59900.0     119.7    22.90  2.0  7205     5
53   Roster536  59800.0     118.0    23.04  2.0  7197    40
52     Roster2  60000.0     119.6    21.98  1.0  7184    80
51    Roster27  59900.0     117.9    22.13  2.0  7176    32
50  Roster2088  60000.0     119.0    21.20  2.0  7159    24
49  Roster1108  59900.0     118.6    22.00  3.0  7139     4
48   Roster625  59900.0     117.8    21.92  3.0  7123    22
47     Roster7  60000.0     119.4    20.64  1.0  7106    67
46  Roster2168  59900.0     118.7    21.58  3.0  7105     4

In [23]:
csv = week.FanDuelCSVExport(rosters, file_name='base.csv')

Saving file Lib/FanDuel CSV Imports/base.csv