In [1]:
from Game import *
import pandas as pd

%load_ext autoreload
%autoreload 2

In [2]:
week = Game('FanDuel-NFL-2022 ET-11 ET-13 ET-82959-players-list.csv',
            'NFL',
            '2022-10 Fantasy Pros Projections 22-11-12.xlsx',
            'FantasyPros NFL Historical.xlsx',
            2022, 10)

In [3]:
DROP = ['Minnesota Vikings', 'Los Angeles Chargers', 'Green Bay Packers', 'Miami Dolphins', # NFL
        'Seattle Seahawks', 'Cleveland Browns', 'Jacksonville Jaguars'] # SI

week.generateRosters('reimagined', drop_players_initial=DROP)

Preprocessing completed in 0:00:00.002990.

Beginning strategy: reimagined
--------------------------------------------------

Initial iteration completed in 0:00:31.082682.
Optimal solutions: 511 / 511

Dropped Tyreek Hill. Using Roster1 as basis...
Iteration 1 completed in 0:00:32.248313.
Optimal solutions: 511 / 511

Dropped Patrick Mahomes. Using Roster2 as basis...
Iteration 2 completed in 0:00:32.818889.
Optimal solutions: 511 / 511

Dropped Travis Etienne Jr.. Using Roster3 as basis...
Iteration 3 completed in 0:00:31.809074.
Optimal solutions: 511 / 511

Dropped Amon-Ra St. Brown. Using Roster4 as basis...
Iteration 4 completed in 0:00:33.573978.
Optimal solutions: 511 / 511

Dropped Christian Kirk. Using Roster5 as basis...
Iteration 5 completed in 0:00:34.460400.
Optimal solutions: 511 / 511

Dropped T.J. Hockenson. Using Roster6 as basis...
Iteration 6 completed in 0:00:33.847582.
Optimal solutions: 511 / 511

Dropped George Pickens. Using Roster7 as basis...
Iteration 7 completed in 0:00:35.375100.
Optimal solutions: 511 / 511

Dropped Devin Singletary. Using Roster8 as basis...
Iteration 8 completed in 0:00:36.277755.
Optimal solutions: 511 / 511

Dropped Pittsburgh Steelers. Using Roster9 as basis...
Iteration 9 completed in 0:00:36.428469.
Optimal solutions: 511 / 511
--------------------------------------------------

Strategy completed in 0:05:37.923238.
Optimal results: 5111 / 5111

Summarizing rosters...
Rosters summarized in 0:00:13.149061.

Total time: 0:05:51.075289.

(5111, 5111)

In [4]:
# verify dropped players
week.tracking['preprocessing_drops'].sort_values('Projected', ascending=False).head(10)

,Nickname,Position,Salary,Injury Indicator,QB,RB,WR,TE,DST,FLEX,Projected,MR_Period,MR_Season,MR_WeekNum,N_Games,Actual_AVG,Actual_STD
19,Kyler Murray,QB,7800,Q,1,0,0,0,0,0,18.0,2022-09,2022.0,9.0,16.0,19.84,5.42
46,Matthew Stafford,QB,6700,Q,1,0,0,0,0,0,12.7,2022-09,2022.0,9.0,16.0,15.38,5.47
36,Ezekiel Elliott,RB,7000,Q,0,1,0,0,0,1,7.5,2022-07,2022.0,7.0,16.0,11.01,4.93
619,Miami Dolphins,D,4000,NaN,0,0,0,0,1,0,6.4,2022-09,2022.0,9.0,16.0,8.50,9.00
684,Minnesota Vikings,D,3200,NaN,0,0,0,0,1,0,6.0,2022-09,2022.0,9.0,16.0,7.25,5.52
679,Green Bay Packers,D,3700,NaN,0,0,0,0,1,0,5.6,2022-09,2022.0,9.0,16.0,5.88,5.11
156,Jerick McKinnon,RB,5500,Q,0,1,0,0,0,1,5.4,2022-09,2022.0,9.0,16.0,4.43,3.51
681,Cleveland Browns,D,3500,NaN,0,0,0,0,1,0,5.4,2022-08,2022.0,8.0,16.0,5.62,4.87
685,Jacksonville Jaguars,D,3000,NaN,0,0,0,0,1,0,4.3,2022-09,2022.0,9.0,16.0,5.12,6.06
191,Trent Sherfield,WR,5100,Q,0,0,1,0,0,1,4.2,2022-09,2022.0,9.0,16.0,2.16,2.14

In [5]:
top = week.selectRosters(.75)
week._selection

'Roster0'

In [6]:
# players with appearances
x = week.data[['Nickname', 'Position', 'Salary', 'Projected', 'Top Appearances']]
x[x['Top Appearances'] > 0].sort_values('Top Appearances', ascending=False)

                     Nickname Position  Salary  Projected  Top Appearances
9             Patrick Mahomes       QB    8500       26.9             1324
39          Amon-Ra St. Brown       WR    6900       13.8             1097
147          Devin Singletary       RB    5600       10.2             1025
17         Travis Etienne Jr.       RB    8000       16.8              920
6                 Tyreek Hill       WR    9000       19.3              882
680       Pittsburgh Steelers        D    3600        7.0              819
146            George Pickens       WR    5600        9.1              795
225               Evan Engram       TE    4900        6.9              739
41             Christian Kirk       WR    6800       12.4              666
87             T.J. Hockenson       TE    6000       10.2              616
20              Dameon Pierce       RB    7700       15.2              543
0              Saquon Barkley       RB    9500       20.6              487
24                Dalvin Cook       RB    7500       14.6              384
683            Houston Texans        D    3400        6.0              349
131             Rondale Moore       WR    5800        9.1              275
127              Greg Dulcich       TE    5900        9.6              194
33            Jonathan Taylor       RB    7000       12.9              170
677        New Orleans Saints        D    3900        7.3              156
157                 Zay Jones       WR    5500        8.1              110
34        JuJu Smith-Schuster       WR    7000       12.5               60
136     Donovan Peoples-Jones       WR    5700        8.7               55
66             Darnell Mooney       WR    6200        9.9               49
64               James Conner       RB    6300       10.5               40
165  Marquez Valdes-Scantling       WR    5400        7.6               39
160            Dalton Schultz       TE    5500        8.0               27
174             Kalif Raymond       WR    5300        7.2               27
12                Josh Jacobs       RB    8400       16.8               25
144            Pat Freiermuth       TE    5600        8.3               16
11              Davante Adams       WR    8500       16.6               11
181           Isaiah McKenzie       WR    5200        7.0                6
8            Justin Jefferson       WR    8600       16.9                5
143         Wan'Dale Robinson       WR    5600        8.1                2
128              Adam Thielen       WR    5900        9.1                2
60                Jerry Jeudy       WR    6400       10.1                1

In [7]:
# highest scoring rosters and frequency
y = top.copy()
y['Roster'] = y.index
y_g = y.groupby('Score', as_index=False).agg({'Roster':'first', 'Salary':'first', 'Projected':'first', 'STD':'first', 'K':min, 'Score':['first', 'count']})
y_g.sort_values(('Score', 'first'), ascending=False).head(10)

        Roster   Salary Projected    STD    K Score
         first    first     first  first  min first count
89     Roster0  60000.0     125.7  24.17  0.0  8144    71
88  Roster4129  59900.0     125.1  22.83  2.0  7722     2
87     Roster7  60000.0     125.2  22.73  1.0  7624    73
86     Roster8  60000.0     124.6  23.95  1.0  7576    36
85    Roster41  60000.0     124.1  22.45  2.0  7394    30
84  Roster3098  60000.0     124.9  23.82  2.0  7365     5
83    Roster42  59900.0     124.9  22.80  2.0  7322    21
82    Roster26  59900.0     124.6  25.74  2.0  7271     4
81    Roster28  60000.0     124.6  24.89  2.0  7265    62
80     Roster1  60000.0     124.8  22.89  1.0  7213    86

In [8]:
# week.data[week.data['Roster0']==1].iloc[:, :17]

In [9]:
# week.data[week.data['Roster4129']==1].iloc[:, :17]

In [10]:
# week.data[week.data['Roster7']==1].iloc[:, :17]

## Save Game

In [11]:
# week.export_game()