In [1]:
from Game import *
import pandas as pd

%load_ext autoreload
%autoreload 2

In [70]:
week = Game('FanDuel-NFL-2022 ET-12 ET-17 ET-84689-players-list.csv',
            'NFL',
            '2022-15S Fantasy Pros Projections 22-12-16.xlsx',
            'FantasyPros NFL Historical.xlsx',
            2022, 15)

In [71]:
startem = pd.read_excel('Sports Illustrated.xlsx', sheet_name='Week 15')
startem.shape

(59, 2)

In [72]:
week.data = week.data[~week.data['Nickname'].str.contains('Josh Allen')]

In [73]:
# drop all players not in SI start em
# DROP = set(week.data['Nickname']) - set(startem['Name'])

week.generateRosters('reimagined', min_pts=3, drop_injuries=['D', 'IA', 'O', 'IR'], max_te=1)

Preprocessing completed in 0:00:00.002005.

Beginning strategy: reimagined
--------------------------------------------------

Initial iteration completed in 0:00:24.304687.
Optimal solutions: 511 / 511

Dropped Justin Jefferson. Using Roster1 as basis...
Iteration 1 completed in 0:00:24.439445.
Optimal solutions: 511 / 511

Dropped Stefon Diggs. Using Roster2 as basis...
Iteration 2 completed in 0:00:23.988944.
Optimal solutions: 511 / 511

Dropped Michael Pittman Jr.. Using Roster3 as basis...
Iteration 3 completed in 0:00:24.802425.
Optimal solutions: 511 / 511

Dropped Deshaun Watson. Using Roster4 as basis...
Iteration 4 completed in 0:00:24.708264.
Optimal solutions: 511 / 511

Dropped J.K. Dobbins. Using Roster5 as basis...
Iteration 5 completed in 0:00:24.864836.
Optimal solutions: 511 / 511

Dropped Mark Andrews. Using Roster6 as basis...
Iteration 6 completed in 0:00:25.206965.
Optimal solutions: 511 / 511

Dropped Gabe Davis. Using Roster7 as basis...
Iteration 7 completed in 0:00:25.765118.
Optimal solutions: 511 / 511

Dropped James Cook. Using Roster8 as basis...
Iteration 8 completed in 0:00:25.879960.
Optimal solutions: 511 / 511

Dropped Minnesota Vikings. Using Roster9 as basis...
Iteration 9 completed in 0:00:25.386654.
Optimal solutions: 511 / 511
--------------------------------------------------

Strategy completed in 0:04:09.349299.
Optimal results: 5111 / 5111

Summarizing rosters...
Rosters summarized in 0:00:12.593493.

Total time: 0:04:21.944797.

(5111, 5111)

In [74]:
# verify dropped players
week.tracking['preprocessing_drops'].sort_values('Projected', ascending=False).head(10)

,Nickname,Position,Salary,Injury Indicator,QB,RB,WR,TE,DST,FLEX,Projected,MR_Period,MR_Season,MR_WeekNum,N_Games,Hist_Avg,Hist_Std,Proj_Percent
23,Anthony Brown,QB,6300,NaN,1,0,0,0,0,0,4.1,2022-14,2022.0,14.0,1.0,0.10,NaN,0.0
65,Deon Jackson,RB,4800,NaN,0,1,0,0,0,1,2.9,2022-13,2022.0,13.0,13.0,3.93,6.77,11.9
60,Ashton Dulin,WR,4900,NaN,0,0,1,0,0,1,2.9,2022-13,2022.0,13.0,16.0,3.91,3.91,0.1
68,Nyheim Hines,RB,4700,NaN,0,1,0,0,0,1,2.8,2022-14,2022.0,14.0,16.0,3.39,3.44,29.8
55,Zack Moss,RB,5100,NaN,0,1,0,0,0,1,2.6,2022-13,2022.0,13.0,16.0,2.66,2.36,0.9
90,Khalil Shakir,WR,4600,NaN,0,0,1,0,0,1,2.6,2022-14,2022.0,14.0,8.0,2.85,5.04,0.3
61,Salvon Ahmed,RB,4900,NaN,0,1,0,0,0,1,2.4,2022-14,2022.0,14.0,16.0,2.89,3.02,0.1
161,Durham Smythe,TE,4300,NaN,0,0,0,1,0,1,2.2,2022-13,2022.0,13.0,16.0,3.17,2.65,0.1
163,Johnny Mundt,TE,4300,NaN,0,0,0,1,0,1,2.1,2022-13,2022.0,13.0,16.0,1.72,1.85,0.1
56,Myles Gaskin,RB,5000,NaN,0,1,0,0,0,1,1.9,2022-12,2022.0,12.0,16.0,8.18,7.63,0.3

In [ ]:
top = week.selectRosters(.75)
week._selection

'Roster0'

In [ ]:
# players with appearances
x = week.data[['Nickname', 'Position', 'Salary', 'Projected', 'Top Appearances']]
x[x['Top Appearances'] > 0].sort_values('Top Appearances', ascending=False)

                Nickname Position  Salary  Projected  Top Appearances
14        Deshaun Watson       QB    6800       17.2             1232
51            James Cook       RB    5300        8.3             1203
4           Stefon Diggs       WR    8600       16.5             1117
16          J.K. Dobbins       RB    6600       11.4             1033
18          Mark Andrews       TE    6500       11.3              929
196       Miami Dolphins        D    3200        5.7              866
0       Justin Jefferson       WR    9100       17.5              835
25            Gabe Davis       WR    6200        9.8              811
12   Michael Pittman Jr.       WR    7000       12.0              774
5            Dalvin Cook       RB    8200       15.2              756
10         Jaylen Waddle       WR    7300       12.5              621
7             Nick Chubb       RB    8000       14.6              568
24        Raheem Mostert       RB    6200        9.8              523
194    Minnesota Vikings        D    3900        7.2              488
11          Amari Cooper       WR    7200       12.1              462
21        T.J. Hockenson       TE    6300       10.3              381
9           Kirk Cousins       QB    7500       18.2              223
32           David Njoku       TE    6000        9.2              124
195   Indianapolis Colts        D    3400        5.8              101
50           Dawson Knox       TE    5300        7.2               21
3            Tyreek Hill       WR    8800       15.7               17
45           Alec Pierce       WR    5700        7.6                6
1        Jonathan Taylor       RB    9000       16.6                4

In [66]:
# highest scoring rosters and frequency
y = top.copy()
y['Roster'] = y.index
y_g = y.groupby('Score', as_index=False).agg({'Roster':'first', 'Salary':'first', 'Projected':'first', 'Hist_Std':'first', 'K':min, 'Score':['first', 'count']})
y_g.sort_values(('Score', 'first'), ascending=False).head(10)

       Roster   Salary Projected Hist_Std    K Score
        first    first     first    first  min first count
54    Roster0  60000.0     111.2    22.70  0.0  8422    27
53    Roster2  60000.0     111.1    23.13  1.0  8249    45
52    Roster7  60000.0     111.2    21.94  1.0  8134    42
51    Roster5  60000.0     110.8    22.97  1.0  8100    42
50  Roster522  59900.0     110.7    22.67  2.0  8090     6
49   Roster26  59900.0     110.7    23.31  2.0  8084    33
48    Roster3  60000.0     110.8    22.33  1.0  7977    98
47    Roster1  60000.0     111.0    22.46  1.0  7965    57
46   Roster11  60000.0     110.7    22.78  2.0  7944    61
45  Roster587  59900.0     110.4    22.50  3.0  7941     2

In [62]:
# week.data[week.data['Roster0']==1].iloc[:, :17]

In [63]:
# week.data[week.data['Roster6']==1].iloc[:, :17]

In [64]:
# week.data[week.data['Roster2']==1].iloc[:, :17]

## Save Game

In [65]:
# name with 'start em'
# week.export_game(file_name = 'start_em_tes')

## FanDuel Tournament Export File

In [68]:
play = y_g.sort_values(('Score', 'first'), ascending=False).head(20)

rosters = play[('Roster', 'first')].to_list()

play

        Roster   Salary Projected Hist_Std    K Score
         first    first     first    first  min first count
54     Roster0  60000.0     111.2    22.70  0.0  8422    27
53     Roster2  60000.0     111.1    23.13  1.0  8249    45
52     Roster7  60000.0     111.2    21.94  1.0  8134    42
51     Roster5  60000.0     110.8    22.97  1.0  8100    42
50   Roster522  59900.0     110.7    22.67  2.0  8090     6
49    Roster26  59900.0     110.7    23.31  2.0  8084    33
48     Roster3  60000.0     110.8    22.33  1.0  7977    98
47     Roster1  60000.0     111.0    22.46  1.0  7965    57
46    Roster11  60000.0     110.7    22.78  2.0  7944    61
45   Roster587  59900.0     110.4    22.50  3.0  7941     2
44  Roster1057  59900.0     110.4    23.01  2.0  7908    15
43  Roster1106  59800.0     110.3    22.95  3.0  7882     2
42  Roster1068  59900.0     110.6    21.98  3.0  7806     4
41    Roster35  60000.0     110.7    23.06  2.0  7791    27
40  Roster1069  60000.0     110.5    24.15  3.0  7776     4
39    Roster65  59900.0     110.2    23.00  3.0  7772    22
38  Roster1113  59900.0     110.1    22.85  3.0  7759    11
37    Roster18  60000.0     110.6    24.07  2.0  7749    60
36    Roster36  59900.0     110.3    22.23  2.0  7724    44
35     Roster8  60000.0     110.4    21.88  1.0  7663    56

In [69]:
# rename with start em
csv = week.FanDuelCSVExport(rosters)

Saving file Lib/FanDuel CSV Imports/FanDuel NFL 84689 upload file.csv