In [1]:
from Game import *
import pandas as pd

%load_ext autoreload
%autoreload 2

## Start em with only one tight end

In [2]:
week = Game('FanDuel-NFL-2022 ET-12 ET-24 ET-84964-players-list.csv',
            'NFL',
            '2022-16 Fantasy Pros Projections 22-12-24.xlsx',
            'FantasyPros NFL Historical.xlsx',
            2022, 16)

In [3]:
startem = pd.read_excel('Sports Illustrated.xlsx', sheet_name='Week 16')
startem.shape

In [5]:
# drop all players not in SI start em
DROP = (set(week.data['Nickname']) - set(startem['Name'])).union(set(['Dallas Cowboys']))

week.generateRosters('reimagined', drop_players_initial=DROP, min_pts=0, drop_injuries=['D', 'IA', 'O', 'IR'], max_te=1)

Preprocessing completed in 0:00:00.002995.

Beginning strategy: reimagined
--------------------------------------------------

Initial iteration completed in 0:00:33.926838.
Optimal solutions: 511 / 511

Dropped Derrick Henry. Using Roster1 as basis...
Iteration 1 completed in 0:00:34.402159.
Optimal solutions: 511 / 511

Dropped Patrick Mahomes. Using Roster2 as basis...
Iteration 2 completed in 0:00:33.724992.
Optimal solutions: 511 / 511

Dropped DK Metcalf. Using Roster3 as basis...
Iteration 3 completed in 0:00:33.992589.
Optimal solutions: 511 / 511

Dropped Alvin Kamara. Using Roster4 as basis...
Iteration 4 completed in 0:00:34.437592.
Optimal solutions: 511 / 511

Dropped T.J. Hockenson. Using Roster5 as basis...
Iteration 5 completed in 0:00:36.066024.
Optimal solutions: 511 / 511

Dropped Marquise Goodwin. Using Roster6 as basis...
Iteration 6 completed in 0:00:34.866191.
Optimal solutions: 511 / 511

Dropped James Cook. Using Roster7 as basis...
Iteration 7 completed in 0:00:35.414556.
Optimal solutions: 511 / 511

Dropped Richie James Jr.. Using Roster8 as basis...
Iteration 8 completed in 0:00:36.338822.
Optimal solutions: 511 / 511

Dropped New York Giants. Using Roster9 as basis...
Iteration 9 completed in 0:00:36.700654.
Optimal solutions: 511 / 511
--------------------------------------------------

Strategy completed in 0:05:49.871433.
Optimal results: 5111 / 5111

Summarizing rosters...
Rosters summarized in 0:00:10.724536.

Total time: 0:06:00.598964.

(5111, 5111)

In [6]:
# verify dropped players
week.tracking['preprocessing_drops'].sort_values('Projected', ascending=False).head(10)

,Nickname,Position,Salary,Injury Indicator,QB,RB,WR,TE,DST,FLEX,Projected,MR_Period,MR_Season,MR_WeekNum,N_Games,Hist_Avg,Hist_Std,Proj_Percent
66,Desmond Ridder,QB,6400,NaN,1,0,0,0,0,0,12.3,2022-15,2022.0,15.0,1.0,7.70,NaN,3.8
166,Mecole Hardman,WR,5500,IR,0,0,1,0,0,1,3.4,2022-09,2022.0,9.0,16.0,8.20,6.86,57.3
290,Kyle Juszczyk,RB,4600,NaN,0,1,0,0,0,1,2.9,2022-14,2022.0,14.0,16.0,3.72,2.63,0.4
245,MyCole Pruitt,TE,4700,NaN,0,0,0,1,0,1,2.9,2022-15,2022.0,15.0,16.0,3.24,3.26,0.0
234,Kevin Harris,RB,4800,NaN,0,1,0,0,0,1,2.9,2022-15,2022.0,15.0,4.0,2.72,4.01,1.1
57,Damien Harris,RB,6500,Q,0,1,0,0,0,1,2.7,2022-12,2022.0,12.0,16.0,11.04,7.10,62.4
492,Ian Thomas,TE,4500,NaN,0,0,0,1,0,1,2.7,2022-15,2022.0,15.0,16.0,2.11,1.76,0.1
554,Teagan Quitoriano,TE,4300,NaN,0,0,0,1,0,1,2.7,2022-15,2022.0,15.0,5.0,3.40,3.51,0.0
263,James Proche II,WR,4700,NaN,0,0,1,0,0,1,2.7,2022-15,2022.0,15.0,16.0,2.34,3.47,0.1
547,Harrison Bryant,TE,4400,NaN,0,0,0,1,0,1,2.6,2022-15,2022.0,15.0,16.0,3.94,2.73,2.1

In [7]:
top = week.selectRosters(.75)
week._selection

'Roster0'

In [8]:
# players with appearances
x = week.data[['Nickname', 'Position', 'Salary', 'Projected', 'Top Appearances']]
x[x['Top Appearances'] > 0].sort_values('Top Appearances', ascending=False)

                Nickname Position  Salary  Projected  Top Appearances
4        Patrick Mahomes       QB    9200       27.9             1293
0          Derrick Henry       RB    9800       22.2             1175
182     Richie James Jr.       WR    5200        7.2              935
175           James Cook       RB    5300        7.6              875
99        T.J. Hockenson       TE    6000        9.9              827
39        Terry McLaurin       WR    7000       12.2              775
664      New York Giants        D    3300        6.1              740
147     Marquise Goodwin       WR    5800        8.2              698
159        Curtis Samuel       WR    5600        7.6              501
49         Isiah Pacheco       RB    6700       11.6              497
71        Darius Slayton       WR    6300        9.7              447
16            DK Metcalf       WR    8000       14.9              440
2    Christian McCaffrey       RB    9400       19.9              360
69      Devin Singletary       RB    6400       10.6              358
65          Mark Andrews       TE    6400       10.7              313
660    Minnesota Vikings        D    3600        6.7              276
28          Alvin Kamara       RB    7400       13.6              242
665        Chicago Bears        D    3100        5.1              229
20          Tony Pollard       RB    7700       14.5              160
42    Kenneth Walker III       RB    6900       12.0              159
250     Daniel Bellinger       TE    4700        5.4              120
34              DJ Moore       WR    7100       11.7               51
666     Seattle Seahawks        D    3000        4.7               41
37          J.K. Dobbins       RB    7000       12.1               35
192            Cole Kmet       TE    5100        6.5               33
180       Nelson Agholor       WR    5300        6.3               20
18            Nick Chubb       RB    7900       14.7               16
151         Jahan Dotson       WR    5700        7.5               12
598       Dallas Cowboys        D    4000        7.6                7
33         Miles Sanders       RB    7100       12.4                2

In [9]:
# highest scoring rosters and frequency
y = top.copy()
y['Roster'] = y.index
y_g = y.groupby('Score', as_index=False).agg({'Roster':'first', 'Salary':'first', 'Projected':'first', 'Hist_Std':'first', 'K':min, 'Score':['first', 'count']})
y_g.sort_values(('Score', 'first'), ascending=False).head(10)

        Roster   Salary Projected Hist_Std    K Score
         first    first     first    first  min first count
71     Roster0  60000.0     117.6    20.25  0.0  7225    69
70     Roster3  60000.0     117.5    18.73  1.0  7083    16
69     Roster7  59900.0     117.4    18.45  1.0  7047    41
68  Roster1570  60000.0     117.4    19.30  2.0  6975    15
67  Roster1646  59900.0     117.2    20.06  3.0  6940     6
66     Roster4  60000.0     117.6    18.98  1.0  6907   114
65   Roster536  60000.0     117.5    19.59  2.0  6891    24
64     Roster5  60000.0     117.4    19.76  1.0  6890   112
63    Roster41  59900.0     116.8    19.31  2.0  6875    29
62  Roster4126  59900.0     117.3    19.93  2.0  6846     2

In [10]:
week.data[week.data['Roster0']==1].iloc[:, :17]

,Nickname,Position,Salary,Injury Indicator,QB,RB,WR,TE,DST,FLEX,Projected,MR_Period,MR_Season,MR_WeekNum,N_Games,Hist_Avg,Hist_Std
0,Derrick Henry,RB,9800,NaN,0,1,0,0,0,1,22.2,2022-15,2022.0,15.0,16.0,17.35,8.72
4,Patrick Mahomes,QB,9200,NaN,1,0,0,0,0,0,27.9,2022-15,2022.0,15.0,16.0,25.70,6.04
16,DK Metcalf,WR,8000,NaN,0,0,1,0,0,1,14.9,2022-15,2022.0,15.0,16.0,12.51,6.97
28,Alvin Kamara,RB,7400,NaN,0,1,0,0,0,1,13.6,2022-15,2022.0,15.0,16.0,11.99,8.86
99,T.J. Hockenson,TE,6000,NaN,0,0,0,1,0,1,9.9,2022-15,2022.0,15.0,16.0,9.71,7.69
147,Marquise Goodwin,WR,5800,Q,0,0,1,0,0,1,8.2,2022-15,2022.0,15.0,16.0,5.14,6.22
175,James Cook,RB,5300,NaN,0,1,0,0,0,1,7.6,2022-15,2022.0,15.0,14.0,5.13,4.46
182,Richie James Jr.,WR,5200,NaN,0,0,1,0,0,1,7.2,2022-15,2022.0,15.0,16.0,5.48,5.30
664,New York Giants,D,3300,NaN,0,0,0,0,1,0,6.1,2022-15,2022.0,15.0,16.0,5.81,4.98

In [11]:
# week.data[week.data['Roster5']==1].iloc[:, :17]

In [16]:
week.data[week.data['Roster3']==1].iloc[:, :17]

,Nickname,Position,Salary,Injury Indicator,QB,RB,WR,TE,DST,FLEX,Projected,MR_Period,MR_Season,MR_WeekNum,N_Games,Hist_Avg,Hist_Std
0,Derrick Henry,RB,9800,NaN,0,1,0,0,0,1,22.2,2022-15,2022.0,15.0,16.0,17.35,8.72
4,Patrick Mahomes,QB,9200,NaN,1,0,0,0,0,0,27.9,2022-15,2022.0,15.0,16.0,25.70,6.04
18,Nick Chubb,RB,7900,NaN,0,1,0,0,0,1,14.7,2022-15,2022.0,15.0,16.0,14.79,7.81
39,Terry McLaurin,WR,7000,NaN,0,0,1,0,0,1,12.2,2022-15,2022.0,15.0,16.0,11.01,4.40
71,Darius Slayton,WR,6300,NaN,0,0,1,0,0,1,9.7,2022-15,2022.0,15.0,16.0,6.99,5.09
99,T.J. Hockenson,TE,6000,NaN,0,0,0,1,0,1,9.9,2022-15,2022.0,15.0,16.0,9.71,7.69
175,James Cook,RB,5300,NaN,0,1,0,0,0,1,7.6,2022-15,2022.0,15.0,14.0,5.13,4.46
182,Richie James Jr.,WR,5200,NaN,0,0,1,0,0,1,7.2,2022-15,2022.0,15.0,16.0,5.48,5.30
664,New York Giants,D,3300,NaN,0,0,0,0,1,0,6.1,2022-15,2022.0,15.0,16.0,5.81,4.98

## Save Game

In [13]:
# week.export_game()

## FanDuel Tournament Export File

In [17]:
play = y_g.sort_values(('Score', 'first'), ascending=False).head(12)

rosters = play[('Roster', 'first')].to_list()

play

        Roster   Salary Projected Hist_Std    K Score
         first    first     first    first  min first count
71     Roster0  60000.0     117.6    20.25  0.0  7225    69
70     Roster3  60000.0     117.5    18.73  1.0  7083    16
69     Roster7  59900.0     117.4    18.45  1.0  7047    41
68  Roster1570  60000.0     117.4    19.30  2.0  6975    15
67  Roster1646  59900.0     117.2    20.06  3.0  6940     6
66     Roster4  60000.0     117.6    18.98  1.0  6907   114
65   Roster536  60000.0     117.5    19.59  2.0  6891    24
64     Roster5  60000.0     117.4    19.76  1.0  6890   112
63    Roster41  59900.0     116.8    19.31  2.0  6875    29
62  Roster4126  59900.0     117.3    19.93  2.0  6846     2
61    Roster36  59900.0     117.2    19.28  2.0  6795     8
60  Roster1566  60000.0     117.3    20.38  2.0  6772    30

In [19]:
# csv = week.FanDuelCSVExport(rosters, file_name='week 16 all players.csv')

Saving file Lib/FanDuel CSV Imports/week 16 all players.csv